# Database related
export CUSTOMER_DATABASE_NAME=GolangEx 
export DB_ENVIRONMENT=host.docker.internal
export OUTPUT_DIR=/.output/

#GCP credential
export TF_VAR_project="imposing-ratio-393502"
export TF_VAR_gcp_region="us-central1 "
export TF_VAR_gcp_credentials="deployment-account.json"